.window {
    &.bar {
        background-color: var(--theme-bg-color);
        color: var(--theme-fg-color);
    }
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;

    &:active {
        background-color: var(--theme-selected-bg-color);
    }

    &:hover {
        border-bottom: 3px solid var(--theme-fg-color);
    }
}

label {
    font-weight: bold;
}

.workspaces {
    button.focused {
        border-bottom: 3px solid var(--theme-selected-bg-color);
    }
}

.client-title {
    color: var(--theme-selected-bg-color);
}

.notification {
    color: yellow;
}

.levelbar, .highlight {
    min-height: 10px;
}
