
$theme_bg_color: black;
$theme_fg_color: black;
$theme_selected_bg_color: black;
$theme_unfocused_fg_color: black;
$wm_borders_edge: black;

window {
    .bar {
        background-color: $theme_bg_color;
        color: $theme_fg_color;
    }
    .notification-popups {
        box.notifications {
            padding: .5em;
        }
    }
}

.bar {
    background-color: #fff;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;

    &:active {
        background-color: $theme_selected_bg_color;
    }

    &:hover {
        border-bottom: 3px solid $theme_fg_color;
    }

    &.focused {
        border-bottom: 3px solid $theme_selected_bg_color;
    }
}

label {
    font-weight: bold;
}

.workspaces {
    button.focused {
        border-bottom: 3px solid $theme_selected_bg_color;
    }
}

.client-title {
    color: $theme_selected_bg_color;
}

.notification {
    color: yellow;

    &.critical {
        border: 1px solid lightcoral;
    }

    & {
        min-width: 350px;
        border-radius: 11px;
        padding: 1em;
        margin: .5em;
        border: 1px solid $wm_borders_edge;
        background-color: $theme_bg_color;
    }
}

levelbar {
    block,
    highlight {
        min-height: 10px;
    }
}

.icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;

    image {
        font-size: 58px;
        // to center the icon
        margin: 5px;
        color: $theme_fg_color;
    }

    box {
        min-width: 68px;
        min-height: 68px;
        border-radius: 7px;
    }
}

.title {
    color: $theme_fg_color;
    font-size: 1.4em;
}

.body {
    color: $theme_unfocused_fg_color;
}

.actions {
    .action-button {
        margin: 0 .4em;
        margin-top: .8em;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
