*{
	all: unset;
	font-family: Ubuntu;
	font-family: Ubuntu Mono;
}
.time_label {
  display:inline-block;
  font-size:14px;
  text-decoration: strikethrough;
}

.workspaces button:hover {
  color: #D35D6E;
  background-image: url('background.jpg');
}
